@import url(https://use.typekit.net/bzd4yqq.css)

@font-face
  font-family: hasklig
  font-style: normal
  font-weight: 400
  src: url(../fonts/Hasklig-Regular.otf) format('opentype')

@font-face
  font-family: hasklig
  font-style: italic
  font-weight: 400
  src: url(../fonts/Hasklig-It.otf) format('opentype')

@font-face
  font-family: hasklig
  font-style: normal
  font-weight: 700
  src: url(../fonts/Hasklig-Bold.otf) format('opentype')

@font-face
  font-family: hasklig
  font-style: italic
  font-weight: 700
  src: url(../fonts/Hasklig-BoldIt.otf) format('opentype')

$font-base:      'source-sans-pro', 'source sans pro', sans-serif
$font-display:   'acumin-pro-extra-condensed', sans-serif
$font-italic:    'source-serif-pro', 'source serif pro', serif
$font-monospace: 'hasklig', 'source code pro', 'source-code-pro', 'andale mono', 'andale-mono', monospace
