@use "sass:color"
@use "sass:math"

$color-primary: #1ea4ff
$color-dark:    #1b1b1d
$color-light:   #fafafa

// Base colors for syntax highlighting
$color-number:  #ac4142     // Numeric literals
$color-char:    #dc9656     // Character literals
$color-string:  #dc9656     // String literals
$color-regex:   #f7ca88     // Regex literals
$color-builtin: #7cafc2     // Builtin tables/functions
$color-atom:    #974b46     // `null`
$color-keyword: #ba8baf     // Keywords

:root
  color-scheme: light dark
  --color-bg: #{$color-light}
  --color-fg: #333
  --color-bg-abs: #fff
  --color-fg-abs: #000
  --color-comment: #999
  --color-number: #{$color-number}
  --color-char: #{$color-char}
  --color-string: #{darken($color-string, 10%)}
  --color-string-2: #{color.adjust($color-regex, $saturation: -30%, $lightness: -20%)}
  --color-builtin: #{$color-builtin}
  --color-atom: #{$color-atom}
  --color-keyword: #{$color-keyword}
  --color-attribute: #6a9fb5
  @media (prefers-color-scheme: dark)
    --color-bg: #{$color-dark}
    --color-fg: #{darken($color-light, 20%)}
    --color-bg-abs: #000000
    --color-fg-abs: #ffffff
    --color-comment: #555555
    --color-number: #{$color-number}
    --color-char: #{$color-char}
    --color-string: #{$color-string}
    --color-string-2: #{$color-regex}
    --color-builtin: #{$color-builtin}
    --color-atom: #{$color-atom}
    --color-keyword: #{$color-keyword}
    --color-attribute: #6a9fb5

$size-header-base: 2em
$size-max-width: 40em

@import 'fonts.sass'
@import 'syntax.sass'

@mixin foreground
  color: var(--color-fg)

@mixin subtle
  color: rgba(128,128,128,0.7)

@mixin highlight
  background-color: rgba(0,0,0,0.03)
  @media (prefers-color-scheme: dark)
    background-color: rgba(0,0,0,0.18)

@mixin italic
  font-style: italic

@mixin monospace
  font-family: $font-monospace

@mixin display
  font-family: $font-display
  font-weight: 300
  text-transform: uppercase

*
  font-feature-settings: 'zero' on

html
  -webkit-text-size-adjust: 100%
  font-kerning: normal

header 
  max-width: $size-max-width
  text-align: right
  a
    +subtle
    &:hover
      +foreground
  nav
    +monospace
    font-size: 0.9em
    ul
      margin: 0 auto
      list-style: none
      li
        margin-left: 1em
        display: inline-block

@media screen and (max-width: 400px)
  header
    text-align: center
    nav ul
      li
        margin: 0 0.5em
        &:first-child
          margin-left: 0
        &:last-child
          margin-right: 0

body
  +foreground
  font-family: $font-base
  max-width: $size-max-width
  background: var(--color-bg)
  font-weight: 400
  font-size: 16px
  margin: 0 auto
  padding: 0.75em 1.2em

a
  text-decoration: none
  color: $color-primary
  &:hover
    transition: all 0.05s linear
    color: darken($color-primary, 12%)

code
  +monospace

p
  line-height: 1.5em
  max-width: 100em
  white-space: pre-line
  code
    padding: 0 0.2em
  img
    max-width: 100%
    height: auto

h1.title
  +display
  font-size: 4em
  margin: 0.25em auto
  line-height: 0.9em

// h{n} tag size calc
@for $i from 1 through 5
  h#{$i}
    font-size: $size-header-base * (1 - math.div($i, 10))

.postinfo, .postinfo a
  +foreground
  +monospace
  font-size: 0.9em

.before-after
  +monospace
  +italic
  display: block
  font-size: 0.9em

ol, ul
  list-style-position: outside
  padding-left: 0

ol
  list-style-type: decimal
  p
    margin: 0 auto

ul
  list-style-type: square

hr
  border: 0
  border-top: 2px dashed var(--color-fg)
  margin-top: 2em

blockquote
  +italic
  border-left: solid 4px var(--color-fg)
  margin: 0 auto
  margin-left: -1.2em
  padding-left: 0.9em
  p
    +monospace

pre
  +highlight
  display: block
  white-space: pre
  padding: 0.5em
  margin: 1em -0.5em
  border-radius: 0.25em
  overflow: hidden
  overflow-x: scroll
  code
    overflow: hidden
    overflow-x: scroll
  @media screen and (max-width: calc(#{$size-max-width} + 2.5em))
    border-radius: 0
    margin: 1em -1.1em
    padding: 0.5em 1.1em

table
  border-collapse: collapse
  margin: 0 auto
  border: 1px solid var(--color-fg)
  thead
    +highlight
    border-bottom: 1px solid var(--color-fg)
  tr
    display: table-row
  tr.odd, tr.even
    &:hover
      +highlight
      transition: all 0.05s linear
  td, th
    margin: 0 auto
    padding: 0.3em 0.5em

// Hack for Pandoc's multiline tables
th
  text-align: center !important

caption
  +monospace
  font-size: 0.8em

.footnotes
  margin: 3em 0 2em 0
  ol
    list-style-type: none
    counter-reset: fn-counter
  ol li
    counter-increment: fn-counter
    position: relative
  ol li::before
    font-size: 0.9em
    content: counter(fn-counter)
    position: absolute
    left: -1.1em
  a, ol, li, p
    +monospace
  ol, p
    font-size: 0.9em
    > li:hover
      +highlight
      transition: all 0.05s linear

a.footnote-back
  float: right
  padding: 0

a.footnote-ref
  font-size: 0.9em

sup, sub
  vertical-align: baseline
  position: relative
  top: -0.4em

sub
  top: 0.4em

footer
  +monospace
  +subtle
  margin: 0 auto
  text-align: right
  font-size: 0.8em

// Syntax highlighting
.sourceCode
  .co
    color: var(--color-comment)
  .dv, .fl, .bn, .kc
    color: var(--color-number)
  .ch
    color: var(--color-char)
  .st
    color: var(--color-string)
  .ss
    color: var(--color-string-2)
  .bu
    color: var(--color-builtin)
  .cf, .kw
    color: var(--color-keyword)
  .at, .sc
    color: var(--color-attribute)
