// Syntax higlighting

$syntax-red:    lighten($color-red,  10%)
$syntax-green:  darken(#50E3BB, 15%)
$syntax-blue:   darken($color-blue, 10%)

.sourceCode
  color: $color-gray

  .co
    color: $syntax-blue

  .err
    background: $syntax-red

.diff
  .kw, .st 
    color: $syntax-red

  .dt, .va
    color: $syntax-green

a.sourceLine, a.sourceLine:hover
  color: $color-gray
  background: none
  text-decoration: none
