RewriteEngine On
RewriteBase /
-RewriteCond %{HTTP_USER_AGENT} ^curl/*$ [NC]
 -RewriteRule ^(.*)$ /bin/dotfiles.sh/$1 [L]
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
