// Post Styling

#permalink
  display: none

.postinfobox
  padding-bottom: 1em

.postinfo
  font-size: 0.8em
  font-family: $font-monospace

.linkbutton
  border: none
  font-size: 0.8em
  font-family: $font-monospace
  padding: 0.1em 0.2em
  border-radius: 0.2em
  cursor: pointer
  color: $color-gray-dark
  background: $color-white-dark
  display: inline-block
  transition: all 0.1s linear 0s
  svg
    fill: $color-gray-dark
    vertical-align: middle
    padding-bottom: 0.2em
    transition: all 0.1s linear 0s
  &:hover
    background: $color-gray-dark
    color: $color-white
    svg
      fill: $color-white

.highlight
  pre
    code
      font-family: $font-monospace
      font-size: 1em

pre
  display: block
  white-space: pre
  padding: 0.5em
  border-radius: 0.3em
  background: $color-white-dark
  font-family: $font-monospace
  overflow: hidden
  overflow-x: scroll
  code
    overflow: hidden
    overflow-x: scroll
    font-size: 1em

pre > code.bash::before
  content: '$ '
  color: $color-gray

code
  font-family: $font-monospace
  font-size: 0.9em
