// Article/post styling
// All markdown rendered inside an `.article` div is defined here

.article
  font-family: $font-base

  a
    text-decoration: none
    background: none
    padding: 0
    color: $color-white
    transition: all 0.1s linear 0s
    &:hover
      color: $color-blue

  p
    font-size: 1.2em
    max-width: 100em
    white-space: pre-line
    line-height: 1.5em
    letter-spacing: -0.01em
    img
      max-width: 100%
      height: auto
    code
      color: $color-white
      background: darken($color-gray, 5%)
      padding: 0 0.3em
      border-radius: 0.1em

  $size-header-base: 2.5em

  h1, h2, h3, h4
    color: $color-white
    font-family: $font-display
    font-weight: 200
    code
      background: darken($color-gray, 5%)
      font-weight: 400
      padding: 0 0.2em
      border-radius: 0.1em

  h1
    font-size: $size-header-base
    line-height: 1.2em
    margin: 0 auto

  h2
    font-size: $size-header-base * 0.8
    line-height: 1.25em

  h3
    font-size: $size-header-base * 0.6
    line-height: 1em

  h4
    font-size: $size-header-base * 0.5
    margin-bottom: -0.5em

  hr
    border: 0
    border-top: 2px dashed lighten($color-gray, 10%)

  blockquote
    font-family: $font-italic
    font-style: italic
    font-weight: 200
    border-left: solid 5px lighten($color-gray, 15%)
    margin: 0 auto
    margin-left: -1.5em
    padding-left: 1.2em

  .postinfo
    font-size: 0.8em
    font-family: $font-monospace

  .highlight
    pre
      code
        font-family: $font-monospace
        font-size: 1em

  pre
    display: block
    white-space: pre
    padding: 0.5em
    border-radius: 0.2em
    font-family: $font-monospace
    overflow: hidden
    overflow-x: scroll
    background: lighten($color-dark, 3%)
    border: solid 1px $color-gray
    code
      overflow: hidden
      overflow-x: scroll
      font-size: 1em

  pre > code.bash::before
    content: '$ '
    color: $color-gray

  code
    font-family: $font-monospace
    font-size: 0.9em
