// Color variables

$color-dark: #222222
$color-gray: #454545
$color-white: #dddddd
$color-blue: #1EAAFF

$color-gray-dark: #454545
$color-gray-light: #888888

$color-white-dark:   darken($color-white,  5%)
$color-white-darker: darken($color-white, 10%)

$color-blue-darkest: #203E6B
$color-blue-dark: darken($color-blue, 5%)
$color-blue-light: lighten($color-blue, 5%)
$color-blue-lighter: lighten($color-blue, 25%)
$color-blue-lightest: lighten($color-blue, 15%)
