// Fonts

@import url(https://use.typekit.net/gxu8fyy.css)

@font-face
  font-family: hasklig
  font-weight: 400
  src: url(../fonts/Hasklig-Regular.otf) format('opentype')

@font-face
  font-family: hasklig
  font-weight: 500
  src: url(../fonts/Hasklig-Medium.otf) format('opentype')

@font-face
  font-family: hasklig
  font-weight: 600
  src: url(../fonts/Hasklig-Semibold.otf) format('opentype')

@font-face
  font-family: hasklig
  font-weight: 700
  src: url(../fonts/Hasklig-Bold.otf) format('opentype')

$font-base:      'source-sans-pro', 'helvetica', 'arial', sans-serif
$font-display:   'input-mono-compressed', monospace
$font-italic:    'input-sans-compressed', sans-serif
$font-monospace: 'hasklig', 'source code pro', 'source-code-pro', 'andale mono', 'andale-mono', monospace
