// Fonts

@import url("https://use.typekit.net/gxu8fyy.css");
@import url("https://fonts.googleapis.com/css?family=Space+Mono:400i,700i");

$font-base:             'helvetica', 'Arial', sans-serif;
$font-carlmarx:         'carlmarx', sans-serif;
$font-monospace:        'source-code-pro', monospace;
$font-monospace-italic: 'space mono', monospace;

