// Fonts

@import url(https://use.typekit.net/gxu8fyy.css)

$font-base:      'source-sans-pro', 'helvetica', 'arial', sans-serif
$font-display:   'input-mono-compressed', monospace
$font-monospace: 'source-code-pro', monospace
