// Fonts

@import url(https://use.typekit.net/gxu8fyy.css)

$font-base:            'helvetica', 'Arial', sans-serif
$font-carlmarx:        'carlmarx', sans-serif
$font-share:           'share', sans-serif
$font-share-tech:      'share-tech', sans-serif
$font-source-code-pro: 'source-code-pro', monospace
