// Header

.header
  display: flex
  align-items: center
  padding-bottom: 0.5em
  border-bottom: solid 4px $color-gray-dark
  margin-bottom: 0.75em

  a
    border: none

.wordmark
  flex: 2
  font-size: 3em
  font-family: $font-carlmarx
  font-weight: 400
  text-transform: lowercase
  transition: all 0.1s linear

  a
    color: $color-gray-dark

    &:hover
      color: $color-dark

.links
  flex: 3
  display: inline-block
  font-size: 1.75em
  text-align: right
  margin: 0 auto

  ul
    margin: 0 auto

    li
      display: inline-flex
      list-style-type: none
      text-align: right
      margin-left: 0.5em
