html
  -webkit-text-size-adjust: 100%
  font-kerning: normal

body
  max-width: 48em
  background: $color-white
  font-family: $font-base
  font-weight: 400
  color: $color-gray
  margin: 0 auto
  padding: 0.75em 1.2em

a
  text-decoration: none
  background: lighten($color-gray, 65%)
  border-radius: 0.1em
  padding: 0 0.3em
  color: $color-gray
  transition: all 0.05s linear
  &:hover
    background: $color-gray
    color: $color-white

p
  font-size: 1.2em
  max-width: 100em
  white-space: pre-line
  line-height: 1.5em
  letter-spacing: -0.01em
  img
    max-width: 100%
    height: auto


// Headers (H1, H2, ...)

$size-header-base: 3.5em

h1, h2, h3, h4
  color: $color-gray
  letter-spacing: -0.01em
  code
    font-weight: 600
    text-transform: none

h1, h2
  font-family: $font-display
  font-weight: 400
  text-transform: uppercase

h3, h4
  font-family: $font-base
  font-weight: 700

h1
  font-size: $size-header-base
  line-height: 1.2em
  margin: 0 auto

h2
  font-size: $size-header-base * 0.8
  line-height: 1em

h3
  font-size: 1.5em
  line-height: 1em

h4
  font-size: 1.2em
  margin-bottom: -0.5em


// Lists

ul, ol
  font-size: 1.2em
  padding-left: 0
  list-style-position: outside

ol
  list-style-type: decimal
  p
    margin: 0 auto

ul
  list-style-type: square


.content
  text-align: left
  line-height: 1.4

.home
  font-family: $font-monospace
  font-size: 0.9em
  max-width: 32em
  margin: 0 auto

.wordmark
  font-size: 2em
  font-family: $font-display
  font-weight: 400
  text-transform: uppercase
  a
    transition: all 0.05s linear
    padding: 0
    background: none
    &:hover
      background: none
      color: $color-blue
hr
  border: 0
  border-top: 2px dashed lighten($color-gray, 10%)

blockquote
  font-family: $font-italic
  font-style: italic
  font-weight: 300
  border-left: solid 4px lighten($color-gray, 5%)
  margin: 0 auto
  margin-left: -1.2em
  padding-left: 0.9em

.postinfo
  font-size: 0.8em
  font-family: $font-monospace
  a
    background: none
    padding: 0
    &:hover
      color: $color-blue


// Inline & fenced code blocks

.highlight
  pre
    code
      font-family: $font-monospace
      font-size: 1em

pre
  display: block
  white-space: pre
  padding: 0.5em
  border-radius: 0.4em
  font-family: $font-monospace
  overflow: hidden
  overflow-x: scroll
  background: lighten($color-gray, 65%)
  code
    overflow: hidden
    overflow-x: scroll
    font-size: 1em

pre > code.bash::before
  content: '$ '
  color: $color-gray

code
  font-family: $font-monospace

table
  border-collapse: collapse
  font-size: 1.2em
  margin: 0 auto
  border: 2px solid lighten($color-gray, 25%)
  th
    background: lighten($color-gray, 65%)
    border-bottom: 2px solid lighten($color-gray, 25%)
  tr
    display: table-row
    transition: all 0.05s linear
    &:hover
      background: lighten($color-gray, 65%)
  td, th
    margin: 0 auto
    padding: 0.3em 1em
  tr:nth-child(2n)
    // background: lighten($color-gray, 65%)


// Article fotnotes

.footnotes
  font-family: $font-monospace
  font-size: 0.8em
  margin: 3em 0
  ol > li:hover
    transition: all 0.05s linear
    background: lighten($color-gray, 65%)

a.footnote-return
  background: none 
  float: right
  &:hover
    color: $color-blue

.footnote-ref > a
  background: none
  font-size: 0.9em
  margin-left: -0.2em
  &:hover
    background: none
    color: $color-blue

sup, sub
  vertical-align: baseline
  position: relative
  top: -0.4em

sub
  top: 0.4em
