// Main styling
// Global styles and default markdown rendering is defined here.

html
  -webkit-text-size-adjust: 100%
  font-kerning: normal

body
  max-width: 48em
  background: #fbf9f7
  font-family: $font-base
  font-weight: 400
  color: $color-gray
  margin: 0 auto
  padding: 0.75em 1.2em

a
  text-decoration: none
  color: $color-gray
  transition: all 0.05s linear
  border-radius: 0.1em
  &:hover
    color: $color-blue

p
  white-space: pre-line

h1, h2, h3, h4
  font-size: 1em
  font-weight: 400
  letter-spacing: -0.01em
  text-transform: uppercase
  code
    font-size: 80%
    background: lighten($color-gray, 65%)
    padding: 0.1em
    border-radius: 0.1em
    text-transform: none

ul, ol
  font-size: 1.2em
  padding-left: 0
  list-style-position: outside
  list-style-type: square

// Alerts
=alert($color)
  background: rgba($color, 0.5)
  font-family: $font-display
  font-weight: 400
  text-transform: uppercase

.alert-blue
  +alert($color-blue)

.alert-red
  +alert($color-red)

.content
  text-align: left
  line-height: 1.4

.EOF
  text-align: center
  padding: 2em 0
  font-family: $font-display
  color: darken($color-white, 10%)
  &::before
    content: 'EOF'

.home
  max-width: 32em
  margin: 0 auto

// Header & footer

.header
  margin-bottom: 0.5em

.wordmark
  font-size: 2em
  font-family: $font-display
  font-weight: 400
  text-transform: uppercase
  a
    transition: all 0.05s linear
    padding: none
    &:hover
      color: $color-blue
