// Main

$size-header-base: 2.5em

html
  -webkit-text-size-adjust: 100%

body
  max-width: 40em
  background: $color-white
  font-family: $font-base
  font-weight: 400
  color: $color-gray-dark
  margin: 0 auto
  padding: 0.5em 0.75em 1.5em 0.75em

a
  text-decoration: none
  color: $color-gray-dark
  border-bottom: 1px solid $color-gray-light
  transition: all 0.1s linear 0s
  &:hover
    border-bottom-color: $color-red
  svg
    fill: $color-white
    vertical-align: middle
    padding-bottom: 2px
    transition: all 0.05s linear 0s
  &:hover svg
    fill: $color-gray

p
  font-size: 1.2em
  max-width: 100em
  white-space: pre-line
  line-height: 1.5em
  letter-spacing: -0.01em
  img
    max-width: 100%
    height: auto
  code
    color: $color-gray-dark
    background: $color-white-dark
    padding: 0 0.3em
    border-radius: 0.2em
  a
    padding-bottom: 0.15em
  &>a>code
    border-bottom: none

h1, h2, h3
  color: $color-gray-dark
  font-family: $font-display-alt
  font-weight: 200

h1
  font-size: $size-header-base
  line-height: 1.2em
  margin: 0 auto

h2
  font-size: $size-header-base * 0.8
  margin-top: 1em
  line-height: 1.25em

h3
  font-size: $size-header-base * 0.5
  line-height: 1em

hr
  border: 0
  border-top: 2px dashed $color-gray-light

blockquote
  font-family: $font-italic
  font-style: italic
  font-weight: 200
  border-left: solid 4px $color-gray-light
  margin: 0 auto
  margin-left: -1em
  padding-left: 0.5em

// Alert divs
// Used for displaying short messages near the header
=alert($background, $border-color)
  background: $background
  border-left: solid 4px $border-color
  font-family: $font-monospace
  font-weight: 400
  padding: 0.5em
  text-align: left
  margin: 0.5em 0
  p
    margin: 0 auto

.alert-yellow
  +alert($color-yellow-lightest, $color-yellow-light)

.alert-blue
  +alert($color-blue-lightest, $color-blue-light)

.content
  padding: 0.25em
  text-align: left
  line-height: 1.4

.command
  background: $color-gray-dark
  color: $color-white
  font-family: $font-monospace
  font-size: 1em
  border-radius: 4px
  padding: 0.5em
  border: none
  width: 100%
  display: block
  cursor: auto

.command::before
  content: '$ '
  color: $color-gray-light

.EOF
  text-align: center
  padding: 2em 0
  font-family: $font-display
  color: $color-white-darker
  &::before
    content: 'ϟ'

.footer
  text-align: right
  font-family: $font-monospace
  color: $color-gray-light
  font-size: 1em
  padding: 2em

// Header & footer

$style-hf-padding: 0.5em
$style-hf-margin:  0.25em

.header
  display: flex
  padding: 0.5em 0
  margin-bottom: 0.5em
  border-bottom: solid 3px $color-gray-dark

.footer
  margin-top:  $style-hf-margin
  padding-top: $style-hf-padding

.header a, .footer a
  border: none

.wordmark
  flex: 3
  font-size: $size-header-base * 0.8
  font-family: $font-display
  font-weight: 400
  text-transform: uppercase
  transition: all 0.1s linear
  line-height: 1em
  a
    color: $color-gray-dark
    &:hover
      color: $color-dark

.links
  flex: 3
  font-family: $font-display-alt
  font-size: 1.2em
  font-weight: 400
  text-transform: lowercase
  transition: all 0.1s linear
  margin-bottom: 0.5em
  text-align: right
  display: inline-block
  ul
    margin: 0 auto
    padding: 0
    list-style-type: inline-block
    li, li a
      color: $color-gray-dark
      display: inline-flex
      margin-left: 0.5em
      border: none
      &:hover
        color: $color-dark
