// Syntax higlighting
// Based on 'Tomorrow Night Eighties'

$syntax-red:    #f2777a
$syntax-orange: #f99157
$syntax-yellow: #ffcc66
$syntax-green:  #99cc99
$syntax-cyan:   #66cccc
$syntax-blue:   #6699cc
$syntax-purple: #cc99cc

.chroma

  // Comments
  .c,
  .c1,
  .ch,
  .cm,
  .cp,
  .cpf,
  .cs
    color: $syntax-blue

  // Error
  .err
    background: $syntax-red

  // Keywords
  .k,
  .kc,
  .kd,
  .kn,
  .kp,
  .kr,
    color: $syntax-cyan

  .kt
    color: $syntax-purple
  
  // Literals
  .il,
  .l,
  .mb,
  .mf,
  .mh,
  .mi
  .mo,
  .se
    color: $syntax-purple

  // Names
  .fm,
  .na,
  .nc,
  .nd,
  .ne,
  .nf,
  .nx 
    color: $syntax-green

  // Operator
  .o
    color: $syntax-cyan

  // Punctuation
  .p
    color: lighten($color-gray, 20%)

  // Strings
  .dl,
  .ld,
  .s,
  .s1,
  .s2,
  .sa,
  .sb,
  .sc,
  .sd,
  .sh,
  .si,
  .sr,
  .ss,
  .sx
    color: $syntax-yellow

  // Diff
  .gd
    color: $syntax-red
  .gi
    color: $syntax-green
