// Syntax higlighting

$syntax-gray:   darken($color-white, 15%)
$syntax-red:    lighten($color-red,  10%)
$syntax-green:  #50E3BB
$syntax-blue:   desaturate($color-blue, 20%)

.chroma

  .c,   // Comment
  .c1,  // Comment.Single
  .cs,  // Comment.Special
    color: $syntax-blue

  .err  // Error
    background: $syntax-red

  .gd   // Generic.Deleted
    color: $syntax-red

  .gi   // Generic.Inserted
    color: $syntax-green

  .p    // Punctuation
    color: $syntax-gray
