---
layout: page
title: Contact - Darryl Abbate
---
== partial 'partials/copylink'
markdown:
  # Contact

  Email: [hi@darryl.sh](mailto:hi@darryl.sh)

  PGP: [83F3 27E9 B28E A173](https://darryl.sh/pgp)
input.command type='text' readonly='readonly' value='curl darryl.sh/pgp | gpg --import' onclick='this.setSelectionRange(0, this.value.length)'
