.cube {
  position: fixed;
  display: block;
  margin: 20px;
  width: 80px;
  height: 80px;
}
.face {
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

/* .cube .face.top { */
/*   background: #f5f5f5; */
/* } */
/* .cube .face.left { */
/*   background: #cccccc; */
/* } */
/* .cube .face.right { */
/*   background: #e0e0e0; */
/* } */

.nav .face.top {
  -webkit-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  -moz-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  -ms-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  -o-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
}
.nav .face.left {
  -webkit-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  -moz-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  -ms-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  -o-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}
.nav .face.right {
  -webkit-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  -moz-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  -ms-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  -o-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cube p {
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  font-size: 62px;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  text-align: center;
}
.cube p svg {
  fill: #444;
  margin-top: -2px;
  margin-left: -35px;
  transform: scaleY(1.20);
}
.nav .face {
  left: 30px;
  top: 30px;
}
.nav p {
  padding-top: 0px;
  float: left;
}
.nav .top p {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #888;
  margin-left: -2px;
}
.nav .left p {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #666;
}

/* .cubescale { */
/* 	display: block; */
/* 	width: 100px; */
/* 	transform: scale(0.8); */
/* } */

.hamburger {
  display: block;
  height: 50px;
}

.hamburger li, ul {
	list-style-type: none;
	margin-left: 0;
	float: left;
}

.hamburger a  {
	/* display:none; */
	list-style-type: none;
	background: none;
	fill: #999;
}
