.cube {
  position: fixed;
  display: block;
  margin: 30px 20px;
  width: 60px;
  height: 60px;
  cursor: auto;
  list-style-type: none;
}

.cube a {
	background: none;
}


.cube:hover a svg {
	background: none;
}

.face {
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.cube .face.top {
  -webkit-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  -moz-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  -ms-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  -o-transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
  transform: rotate(210deg) skewX(-30deg) scaleY(0.864);
}
.cube .face.left {
  -webkit-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  -moz-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  -ms-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  -o-transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
  transform: rotate(90deg) skewX(-30deg) scaleY(0.864);
}
.cube .face.right {
  -webkit-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  -moz-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  -ms-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  -o-transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
  transform: rotate(-30deg) skewX(-30deg) scaleY(0.864);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cube p {
  height: 100%;
  margin: 0 auto;
  padding-top: 0px;
  font-size: 62px;
  font-weight: 700;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  float: left;
}
.cube .face {
  left: 30px;
  top: 30px;
}
.cube .top p {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #aaa;
  margin-left: -2px;
}
.cube .left p {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #888;
}

.menu {
  display: block;
}

.menu, .menu li, .menu ul, .menu a {
	list-style-type: none;
	margin-bottom: 18px;
	float: left;
}

.menu, .menu a svg {
	list-style-type: none;
	background: none;
}

.menuitem {
	list-style-type: none;
	position: relative;
	margin-bottom: 15px;
	margin-left: -35px;
	display: inline-block;
}

.burger a svg {
  fill: #999;
  transform: scaleY(1.25);
}

.burger svg {
  list-style-type: none;
	position: relative;
}

li.burger, nav {
	height: 50px;
	overflow: visible;
}

.submenu:before {
	position: absolute;
	top: 0;
	right: -15px;
	bottom: -15px;
	left: -15px;
	z-index: -1;
	display: block;
	content: ''
}

.submenu {
	font-size: 2em;
	width: 200px;
	list-style-type: none;
	visibility: hidden;
	opacity: 0;
	position: relative;
	top: -75px;
	transform: translateY(-1em);
	z-index: -1;
	transition: all 0.1s linear 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s;
}

.burger:focus .submenu, .burger:focus-within .submenu, .burger:hover .submenu {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	transform: translateY(50px);
	transition-delay: 0s, 0s, 0.2s;
}

.menuitem a {
	color: transparent;
	padding: 0 0;
	font-weight: 700;
	font-family: "Orbitron", sans-serif;
}

li.menuitem a:hover {
background: linear-gradient(90deg, #7de3f9 0%,#88f5bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

li.burger > a:hover svg {
	fill: url(#gradient);
}

a:hover svg stop:first-child {
    stop-color: #6eb2f7;
}

a:hover svg stop:last-child {
    stop-color: #7de3f9;
}

li.about > a:hover svg {
	fill: url(#gradient1);
}

li.posts > a:hover svg {
	fill: url(#gradient2);
}

li.projects > a:hover svg {
	fill: url(#gradient3);
}
.cube:hover ~ .content {
	opacity: 0.5;
	filter: blur(5px);
}

.content {
	transition: all 0.1s linear 0s;
}
.cube a:hover .top p {
background: linear-gradient(45deg, #6eb2f7 0%, #7de3f9 30%, #88f5bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
.cube a:hover .left p {
background: linear-gradient(70deg, #3c98f4 0%, #7de3f9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
