---
---

// Fonts
@import url(https://fonts.googleapis.com/css?family=Orbitron:700|Source+Code+Pro|Source+Sans+Pro)
$sourcecodepro: 'Source Code Pro', monospace
$sourcesanspro: 'Source Sans Pro', sans-serif
$orbitron: 'Orbitron', sans-serif

// Colors
$black: #444
$darkblack: #212121
$white: #fdfdfd
$midwhite: #eee
$darkwhite: #dfdfdf
$cyan: #4CE7FE
$link: #66A5E6

body
  background: $white
  font-family: $sourcesanspro
  font-weight: 400
  color: $black
  margin: 0 auto

a
  text-decoration: none
  color: $black
  background: $darkwhite
  padding: 0 0.3em
  border-radius: 0.2em

  &:hover
    background: $black
    color: $white

  svg
    fill: $black
    vertical-align: middle
    padding-bottom: 2px

  &:hover svg
    fill: $white

p
  font-size: 1.2em
  color: $black
  max-width: 80em
  
  code
    color: $black
    background: $midwhite
    padding: 0 0.3em
    border-radius: 0.2em

  &>a>code
    padding: 0
    background: none

  &>a:hover code
    color: $white

h1
  color: $black
  font-size: 2.5em
  font-weight: 400

h2
  color: $black
  font-size: 1.75em
  margin-top: 1.75em
  line-height: 1.2
  font-weight: 400
  border-bottom: 2px dashed $black

h3
  color: $black
  font-size: 1.5em
  font-weight: 400

hr
  border: 0
  border-top: 2px dashed $black

.announcement
  background: $midwhite
  border-radius: 3px
  border: dashed 3px $black
  padding: 10px
  text-align: center

.content
  margin: 0 auto
  min-width: 30em
  max-width: 40em
  width: 60%
  text-align: left
  line-height: 1.4

.EOF
  text-align: center
  padding: 3em 0
  font-family: $sourcecodepro
  font-size: 1.5em
  color: $darkwhite

// Home Page

.homepage
  position: fixed
  margin: 0 auto
  height: 100%
  width: 100%
  background: $darkblack

.home
  display: block
  margin: 0 auto
  height: 50px
  width: 0%
  cursor: auto

  p
    height: 100%
    margin: 0 auto
    padding-top: 0px
    float: left

  .name
    top: 40%
    left: 60%

  .top p
    transform-origin: 50% 50%
    transform: rotate(180deg)
    color: $white
    font-size: 62px
    font-weight: 700
    font-family: $orbitron
    float: left
    height: 50px
    width: 304px
    // margin: 0px 3px
    overflow-x: hidden

  .left p
    transform-origin: 50% 50%
    transform: rotate(-90deg)
    color: #ccc
    font-size: 62px
    font-weight: 700
    font-family: $orbitron
    text-align: center
    float: left
    margin: 131px -122px

  .homelinks
    transform: rotate(180deg)
    height: 315px
    float: left
    font-family: $sourcesanspro
    font-size: 2em
    text-align: right
    line-height: 1.2

    a
      background: none
      color: #777

      &:hover
        color: $cyan


.name
  position: absolute
  height: 50px
  transform-origin: 0 0

.home .name
  &.top
    transform: rotate(210deg) skewX(-30deg) scaleY(0.864)

  &.left
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864)

// Post Styling

.postinfo
  font-size: 0.8em
  font-family: $sourcecodepro
  padding: 0.1em 0.2em
  border-radius: 0.2em

  a
    font-size: 0.8em
    font-family: $sourcecodepro
    padding: 0.1em 0.2em
    border-radius: 0.2em

  svg
    fill: $black
    vertical-align: middle
    padding-bottom: 0.2em

.highlight
  pre
    border-radius: 0.3em

    code
      font-family: $sourcecodepro
      font-size: 1em

pre
  display: block
  white-space: pre
  padding: 0.5em
  background: $black
  font-family: $sourcecodepro
  overflow: hidden
  overflow-x: scroll

  code
    overflow: hidden
    overflow-x: scroll
    color: $white

  a
    color: $black
    background: $darkwhite
    padding: 0 0.3em
    border-radius: 0.2em

code
  font-family: $sourcecodepro
  font-size: 0.9em

  a
    color: $black
    background: $darkwhite
    padding: 0 0.3em
    border-radius: 0.2em

.nv
  color: $darkwhite

// Desktop navigation

.cube
  position: fixed
  display: block
  margin: 30px 20px
  width: 60px
  height: 60px
  cursor: auto
  list-style-type: none

  a, &:hover a svg
    background: none

  p
    height: 100%
    margin: 0 auto
    padding-top: 0px
    font-size: 62px
    font-weight: 700
    font-family: $orbitron
    text-align: center
    float: left

  .face
    left: 40px
    top: 40px

  .top p
    transform-origin: 50% 50%
    transform: rotate(180deg)
    color: $darkwhite
    margin-left: -2px

  .left p
    transform-origin: 50% 50%
    transform: rotate(-90deg)
    color: #ccc

.face
  position: absolute
  height: 50px
  width: 50px
  transform-origin: 0 0

.cube .face
  &.top
    transform: rotate(210deg) skewX(-30deg) scaleY(0.864)

  &.left
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864)

  &.right
    transform: rotate(-30deg) skewX(-30deg) scaleY(0.864)

*
  box-sizing: border-box

.menu
  display: block
  list-style-type: none
  margin-bottom: 18px
  float: left

  li, ul
    list-style-type: none
    margin-bottom: 18px
    float: left

  a
    list-style-type: none
    margin-bottom: 18px
    float: left

    svg
      list-style-type: none
      background: none

  list-style-type: none
  background: none

.menuitem
  list-style-type: none
  position: relative
  margin-bottom: 15px
  margin-left: -35px
  display: inline-block

.burger
  a svg
    fill: #ccc
    transform: scaleY(1.25)
    left: -1px

  svg
    list-style-type: none
    position: relative

li.burger, nav
  height: 50px
  overflow: visible

.submenu
  &:before
    position: absolute
    top: 0
    right: -15px
    bottom: -15px
    left: -15px
    z-index: -1
    display: block
    content: ''

  font-size: 2em
  width: 200px
  list-style-type: none
  visibility: hidden
  opacity: 0
  position: relative
  top: -75px
  left: 5px
  transform: translateY(-1em)
  z-index: -1
  transition: all 0.1s linear 0s, visibility 0s linear 0.1s, z-index 0s linear 0.01s

.burger
  &:focus .submenu, &:focus-within .submenu, &:hover .submenu
    visibility: visible
    opacity: 1
    z-index: 1
    transform: translateY(50px)
    transition-delay: 0s, 0s, 0.2s

.menuitem a
  color: transparent
  padding: 0 0
  font-weight: 700
  font-family: $sourcesanspro

li
  &.menuitem a:hover
    color: $cyan

  &.burger > a:hover svg
    fill: $cyan

li
  &.about > a:hover svg
    fill: $cyan

  &.posts > a:hover svg
    fill: $cyan

  &.projects > a:hover svg
    fill: $cyan

.cube:hover ~ .content
  opacity: 0.5
  filter: blur(5px)

.content
  transition: all 0.1s linear 0s

.cube a:hover
  .top p
    color: $cyan

  .left p
    color: #41C7D8
