<!doctype>
<html>
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include nav.html %}
		<div class="content">
			<h1>{{ page.title }}</h1>
			<div class="postinfobox">
				<span class="postinfo">{% octicon person height:15 %} Darryl Abbate</span><br><span class="postinfo">{% octicon calendar height:15 %} {{ page.date }}</span><br><a class="postinfo" href="https://darryl.sh{{ page.url }}">{% octicon link height:15 %} darryl.sh{{page.url}}</a>
		</div>
			{{ content }}
		</div>
	{% include footer.html %}
	</body>
</html>
