// Fonts

@import url(https://fonts.googleapis.com/css?family=Monda|Orbitron:700|Share+Tech|Source+Code+Pro)
$monda: 'Monda', sans-serif
$orbitron: 'Orbitron', sans-serif
$sharetech: 'Share Tech', sans-serif
$sourcecodepro: 'Source Code Pro', monospace
