// Fonts

@import url(https://fonts.googleapis.com/css?family=Monda|Orbitron:700|Share+Tech+Mono|Source+Code+Pro)
$monda: 'Monda', sans-serif
$orbitron: 'Orbitron', sans-serif
$sharetechmono: 'Share Tech Mono', monospace
$sourcecodepro: 'Source Code Pro', monospace
