// Fonts

@import url(https://fonts.googleapis.com/css?family=Share|Orbitron:700|Share+Tech|Source+Code+Pro)
$font-base: 'Helvetica', 'Arial', sans-serif
$font-share: 'Share', sans-serif
$font-orbitron: 'Orbitron', sans-serif
$font-share-tech: 'Share Tech', sans-serif
$font-source-code-pro: 'Source Code Pro', monospace
