// Main

body
  background: $color-white
  font-family: $monda
  font-weight: 400
  font-size: 16px
  color: $color-gray-dark
  margin: 0 auto

a
  text-decoration: none
  color: $color-red
  transition: all 0.05s linear 0s

  &:hover
    color: $color-red-light

  svg
    fill: $color-white
    vertical-align: middle
    padding-bottom: 2px
    transition: all 0.05s linear 0s

  &:hover svg
    fill: $color-gray-dark

p
  font-size: 1.25em
  color: $color-gray-dark
  max-width: 100em
  white-space: pre-line

  img
    max-width: 100%
    height: auto
  
  code
    color: $color-gray-dark
    background: $color-white-darker
    padding: 0 0.3em
    border-radius: 0.2em

  &>a>code
    color: $color-red

  &>a:hover code
    color: $color-red-light

h1
  color: $color-gray-dark
  font-family: $monda
  font-size: 2.5em
  font-weight: 400
  line-height: 1.2em

h2
  color: $color-gray-dark
  font-family: $monda
  font-size: 2em
  margin-top: 1.75em
  line-height: 1.25em
  font-weight: 400

h3
  color: $color-gray-dark
  font-family: $monda
  font-size: 1.2em
  font-weight: 400
  line-height: 1em

hr
  border: 0
  border-top: 2px dashed $color-white

blockquote
  background: $color-yellow-lightest
  border-radius: 4px
  border-left: solid 0.4em $color-yellow-light
  padding: 1em
  text-align: left
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.12),0 2px 8px 0 rgba(0,0,0,.08)
  margin: 0 auto

  p
    margin: 0 auto

    code
      background: $color-yellow-lighter
      color: $color-dark

.content
  margin: 0 auto
  min-width: 30em
  max-width: 80em
  width: 60%
  text-align: left
  line-height: 1.4
  padding-top: 1em

.command
  background: $color-gray-dark
  color: $color-white
  font-family: $sourcecodepro
  font-size: 1em
  border-radius: 4px
  padding: 0.5em
  border: none
  width: 100%
  display: block
  cursor: auto

.command::before
  content: '$ '
  color: $color-gray-light

.EOF
  text-align: center
  padding: 2em 0
  font-family: $sourcecodepro
  color: $color-white-darker

  svg
    fill: $color-dark

  &::before
    content: 'ϟ'

.footer
  text-align: right
  font-family: $sharetech
  font-size: 0.9em
  padding: 2em
