// Syntax higlighting theme

.highlight

  // Comments
  .c, .c1, .ch, .cm, .cp, .cpf, .cs
    color: $color-gray-light

  // Error
  .err
    background: $color-red

  // Keywords
  .k, .kc, .kd, .kn, .kp, .kr, .kt
    color: $color-blue-light
  
  // Literals
  .il, .l, .mb, .mf, .mh, .mi .mo, .se
    color: $color-blue-light

  // Names
  .fm, .na, .nc, .nd, .ne, .nf, .nx 
    color: $color-red-light

  // Strings
  .dl, .ld, .s, .s1, .s2, .sa, .sb, .sc, .sd, .sh, .si, .sr, .ss, .sx
    color: $color-yellow-light
