---
layout: home
title: Darryl Abbate
---

.home align="center"
  object data='img/logodark.svg' type='image/svg+xml'
  .linkface align="center"
    ul.homelinks
      li
        a href="https://darryl.sh/about"
          | About
      li
        a href="https://darryl.sh/contact"
          | Contact
      li
        a href="https://darryl.sh/posts"
          | Posts
      li
        a href="https://darryl.sh/projects"
          | Projects